#roll
{  
    background-color:#87CEEB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#turn{
    margin: 0 0 0 40px;
    color:rgb(255, 150, 150);
}
#para{
    margin: 25px 15px 15px 30px;
    font-size: 25px;
    color: rgb(141, 130, 116);
}
.bdr{
    color: chocolate;
    margin-top: 40px;
    font-size: 25px;
}